
@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    transition: $x;
}

@mixin fadeTransition {
    @include transition(background .5s ease-in-out,padding .5s ease-in-out)
}
