@import "https://fonts.googleapis.com/css?family=Montserrat:300,500|Quintessential";
.showMobile {
  display: none; }
  @media only screen and (max-width: 768px) {
    .showMobile {
      display: block; } }

.showFull {
  display: block; }
  @media only screen and (max-width: 768px) {
    .showFull {
      display: none; } }

p {
  margin: 0 0 25px;
  font-size: 18px; }
  @media only screen and (max-width: 768px) {
    p {
      margin: 0 0 35px;
      font-size: 20px; } }

a:link {
  color: #e9871a; }
a:visited {
  color: #e9871a; }
a:focus {
  color: #e9871a; }
a:hover {
  color: #f6d0a6; }

.japanese {
  font-family: "Montserrat", "Gotham", "Verdana", sans-serif;
  font-size: 20px; }

.orange {
  color: #e9871a; }

.slash {
  -webkit-transition: border-left 0.3s ease-in-out;
  -moz-transition: border-left 0.3s ease-in-out;
  transition: border-left 0.3s ease-in-out;
  color: #585858;
  font-size: 25px;
  font-weight: normal !important;
  position: relative;
  top: 2px;
  margin-left: 3px;
  margin-right: 7px;
  border-left: 1px solid rgba(200, 200, 200, 0.75); }

.top-nav-collapse .slash {
  border-left: 1px solid rgba(50, 50, 50, 0.75);
  color: white; }

BODY {
  text-rendering: optimizeLegibility;
  text-align: center;
  font-family: "Montserrat", "Gotham", "Verdana", sans-serif;
  line-height: 22px;
  font-weight: 300;
  font-size: 22px;
  color: #585858;
  text-transform: uppercase; }
  @media only screen and (min-width: 768px) {
    BODY {
      font-size: 17px;
      line-height: 29px; } }

.dateImage {
  max-width: 100%;
  height: auto;
  margin-top: 100px; }

.elinaMichaelEt {
  margin-top: 100px;
  width: 500px; }
  @media only screen and (max-width: 768px) {
    .elinaMichaelEt {
      width: 100%; } }

.resizableImage {
  width: 100%; }

.story {
  padding-top: 100px;
  text-align: left;
  margin-left: 100px;
  text-align: justify;
  text-transform: lowercase;
  font-family: "Garamond"; }
  @media only screen and (min-width: 768px) {
    .story {
      width: 600px; } }
  .story h2 {
    text-transform: none;
    font-family: "Quintessential", cursive;
    font-size: 27px; }

.sc {
  text-transform: lowercase;
  font-family: "Montserrat", "Gotham", "Verdana", sans-serif;
  font-variant: small-caps;
  font-weight: 500; }
  .sc .scNum {
    font-size: 13px; }

.scNoBold {
  text-transform: lowercase;
  font-family: "Montserrat", "Gotham", "Verdana", sans-serif;
  font-variant: small-caps; }

B {
  font-weight: 500; }

.invite {
  padding-top: 100px;
  margin-bottom: 100px;
  display: table;
  margin: 0 auto;
  text-align: justify;
  color: #707070;
  text-shadow: 0 0 2px rgba(115, 115, 115, 0.5);
  letter-spacing: 0.04em; }

.elinaMichaelFull {
  display: table;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 10px; }

.events {
  text-align: left; }
  .events p {
    text-transform: none;
    font-family: "Garamond"; }

html {
  width: 100%;
  height: 100%; }

.light {
  color: #585858;
  font-weight: 400; }

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Gotham", "Verdana", sans-serif;
  background-color: #a5a5a5;
  color: white; }
  @media only screen and (max-width: 768px) {
    .navbar-custom .orange {
      color: #f6d0a6; } }
  .navbar-custom .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: white; }
    .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
      outline: none; }
  .navbar-custom .navbar-brand {
    font-weight: 700; }
    .navbar-custom .navbar-brand:focus {
      outline: none; }
  .navbar-custom a {
    color: white; }
  .navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
    .navbar-custom .nav li a:hover {
      color: rgba(255, 255, 255, 0.8);
      outline: none;
      background-color: transparent; }
    .navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
      outline: none;
      background-color: transparent; }
  .navbar-custom .nav li.active {
    outline: none; }
    .navbar-custom .nav li.active a {
      background-color: rgba(255, 255, 255, 0.3); }
      .navbar-custom .nav li.active a:hover {
        color: white; }
  @media only screen and (min-width: 768px) {
    .navbar-custom {
      padding: 20px 0;
      border-bottom: none;
      letter-spacing: 1px;
      background: transparent;
      -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; }
      .navbar-custom.top-nav-collapse {
        padding: 0;
        background: #a5a5a5;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }

.nav .orange {
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }
  @media only screen and (max-width: 768px) {
    .nav .orange {
      color: #f6d0a6; } }

.top-nav-collapse .orange {
  color: #f6d0a6; }

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  .intro .intro-body {
    display: table-cell;
    vertical-align: middle; }
    .intro .intro-body .intro-text {
      font-size: 18px; }
  @media only screen and (min-width: 768px) {
    .intro {
      height: 100%;
      padding: 0; }
      .intro .intro-body .brand-heading {
        font-size: 90px; }
      .intro .intro-body .intro-text {
        font-size: 26px; } }
  @media only screen and (max-width: 768px) {
    .intro {
      padding: 0px 0px; } }

.btn-circle {
  width: 50px;
  height: 50px;
  padding-top: 13px;
  color: #a5a5a5;
  border: 1px solid #585858 !important;
  border-radius: 100% !important;
  font-size: 38px !important;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  .btn-circle:focus {
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.1); }
  .btn-circle:hover {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear; }
  .btn-circle i.animated {
    transition-property: transform;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s; }

.content-section {
  padding-top: 100px; }
  @media only screen and (min-width: 768px) {
    .content-section {
      padding-top: 250px; } }

.unicodeIcons {
  font-size: 33px; }

.events .row {
  margin-bottom: 30px; }

.mapLocation {
  width: 100%;
  height: 424px;
  margin-top: 0px;
  background-image: url("/images/maps/map@1x.png");
  background-position: center; }
  @media only screen and (min-width: 768px) {
    .mapLocation {
      background-size: cover; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) {
    .mapLocation {
      background-image: url("/images/maps/map@2x.png"); } }

.smaller {
  font-size: 10px; }
  @media only screen and (min-width: 768px) {
    .smaller {
      font-size: 14px; } }

.btn {
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0; }

.btn-default {
  border: 1px solid #585858;
  color: #585858;
  background-color: transparent; }
  .btn-default:hover, .btn-default:focus {
    border: 1px solid #585858;
    outline: none;
    color: #a5a5a5;
    background-color: #585858; }

.btn-default.active {
  border: 1px solid #585858;
  outline: none;
  color: #a5a5a5;
  background-color: #585858; }

.btn-default.active:focus {
  border: 1px solid #585858;
  outline: none;
  color: #a5a5a5;
  background-color: #585858; }

ul.banner-social-buttons {
  margin-top: 0; }
  @media (max-width: 1199px) {
    ul.banner-social-buttons {
      margin-top: 15px; } }
  @media only screen and (min-width: 768px) {
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      ul.banner-social-buttons li:last-child {
        margin-bottom: 0; } }

footer {
  padding: 50px 0; }
  footer p {
    margin: 0; }

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }

pre {
  font-size: 14px;
  background: #404049;
  border-color: #808084;
  color: #dddddd; }
  @media only screen and (min-width: 768px) {
    pre {
      font-size: 18px; } }

.hiddenPre {
  display: none;
  color: #f03030; }
  .hiddenPre a {
    color: #ff6060 !important; }
  .hiddenPre .danger {
    color: #d00000; }
    .hiddenPre .danger a {
      color: #e00000 !important; }

#rsvpForm label {
  position: relative; }
  #rsvpForm label span {
    display: inline-block;
    width: 220px;
    text-align: right; }
    @media only screen and (max-width: 768px) {
      #rsvpForm label span {
        text-align: left;
        display: block;
        margin-left: 10px; } }
  #rsvpForm label em {
    position: absolute;
    right: 5px;
    top: 20px; }
#rsvpForm input, #rsvpForm textarea {
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #999;
  margin-left: 10px;
  padding-left: 5px; }
  @media only screen and (max-width: 768px) {
    #rsvpForm input, #rsvpForm textarea {
      clear: left;
      display: block; } }
#rsvpForm .attendingNumber {
  width: 50px; }
#rsvpForm #numberAttendingP {
  display: none;
  margin-left: 50px;
  font-weight: normal; }
#rsvpForm input[type=checkbox], #rsvpForm input[type=radio] {
  width: auto;
  border: none; }
#rsvpForm input:focus, #rsvpForm textarea:focus {
  border-color: #000; }
#rsvpForm textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical; }
#rsvpForm fieldset {
  width: 600px;
  box-sizing: border-box;
  margin-left: 10px;
  border: 1px solid #999;
  border-left: none; }
  #rsvpForm fieldset legend {
    position: relative;
    left: 50px; }
  #rsvpForm fieldset label {
    text-align: left;
    font-weight: normal; }
    #rsvpForm fieldset label span {
      display: inline;
      margin-left: 20px; }
#rsvpForm button {
  margin: 20px 0 0 124px; }

.tinyAck {
  font-size: 8px; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pulse {
  from {
    -moz-transform: scale(1);
    transform: scale(1); }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=wedding.css.map */
