@import 'https://fonts.googleapis.com/css?family=Montserrat:100,400,700|Quintessential';

$fontDefault: 'Montserrata', 'Gotham', 'Verdana', sans-serif;
$fontSize: 17px;
$textColor: #585858;
$boldColor: #736d6d;
$orange: #e9871a;

BODY {
    text-align: center;
}
